body {
  margin: 1em;
}

h1, h2, h3, h4, h5 {
  margin-top: 0;
}

.header,
.content,
.footer {
  margin: 1em auto;
}

.footer > div {
  margin-top: 2.5em;
}

img {
  max-width: 100%;
  height: auto;
}

.container-fluid {
  max-width: 1000px;
}
